@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

body {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	//&::-webkit-scrollbar-track {
	//	background: orange;
	//}
	//&::-webkit-scrollbar-thumb {
	//	background-color: blue; /* color of the scroll thumb */
	//	border-radius: 20px; /* roundness of the scroll thumb */
	//	border: 3px solid orange; /* creates padding around scroll thumb */
	//}
}
